*{
    font-family: rush Script Std;
}
.Home {
    height: auto;
    width: 100%;
    color: #fff;
    background-image: url(./img/cool-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
nav{
    position: fixed;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}
nav img {
    border-radius: 300px;
    height: auto;
    width: 12%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;

}
.About{
    height: auto;
    text-align: center;
}
.About h1{
    padding-top: 50px;
}
#about_img{
    background-color: black;
    border-radius: 200px;
    height: auto;
    width: 70%;
}
.About #about-text h2{
    padding-top: 20%;
}
.About #about-text p{
    padding-bottom: 10%;
}
.Education{
    height: auto;
    width: 100%;
    text-align: center;
}
.Education h1{
    padding-top: 40px;
}
.Education h5{
    padding: 20px;
}
.Skills{
    height: auto;
    width: 100%;
    text-align: center;
}
.button{
    border-radius: 200px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid black;
}
.b1{
    padding-top: 20px;
}
.button:hover {
    background-color: black;
    color: white;
}
.Contact{
    padding: 50px;
    height: auto;
    width: 100%;
    text-align: center;
}
